body {
    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 32px 16px;
}

header p {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

nav ul a {
    text-decoration: none;
    color: #444;
}

nav ul a:hover {
    color: #000;
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}


header, main {
    max-width: 1200px;
    margin: auto;
}

section {
    background: #262930;
    padding: 48px 16px;
}

section h1 {
    font-size: 64px;
    color: #fff;
    text-align: center;
    margin: 0;
    font-weight: normal;
}

main {
    display: flex;
    padding: 32px 16px;
    margin-top: 64px;
    gap: 32px;
}

.bio {
    width: 40%;
    position: sticky;
}

.bio h2 {    
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.sticky {
    position: sticky;
    top: 32px;
}

.bio p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 1.5rem;
}

.illustration {
    width: 60%;
}

.illustration ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    flex-wrap: wrap;
    margin-left: 78px;
}

.illustration img {
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #f5f5f5;
    text-align: center;
    padding: 32px 16px;
    margin-top: 64px;
}

footer p {
    margin: 0;
}

/* MODALE */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal:target {
    display: block;
  }
  
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .modal img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
  }
  
  .close {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  
  .close:hover {
    color: #ccc;
  }

@media (max-width: 700px) { /* se la finestra ha una larghezza minore di 400px, fai lo sfondo verde. Questa istruzione sovrascrive la precedente, se la cancello lo sfondo sarà sempre giallo */
    header {
        flex-direction: column;
        gap: 8px;
        padding: 32px;
    }
    
    main {
        flex-direction: column;
    }

    .bio, .illustration {
        width: 100%;
    }

    .illustration ul {
        margin: 0;
        gap:16px;
    }
}